body{
background-color: rgb(228, 201, 219);
font-family: Georgia, 'Times New Roman', Times, serif;
}

strong {
    color:pink;
}
header, footer {
 background-color: black
 ;
color: rgb(218, 180, 197);
text-align: center;
padding: 0.5rem;
 }
nav {
 background-color: pink;
 padding: 1rem;
 display: flex;
  justify-content: center;
gap: 2rem;